@media (max-width: 1100px) {
    .header__mobile .burger .burger-text.active {
        display: none;
    }

    .header__mobile .burger.active .humb:nth-child(1) {
        -webkit-transform: translateY(4px) rotate(45deg);
        transform: translateY(4px) rotate(45deg);
    }

    .header__mobile .burger.active .humb:nth-child(2) {
        -webkit-transform: translateY(-4px) rotate(-45deg);
        transform: translateY(-4px) rotate(-45deg);
    }

    .header__mobile {
        overflow-y: hidden;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .header__content .header__content-btn,
  .header__content {
        display: none;
    }

    .header__content-secret {
        display: block;
        position: absolute;
        opacity: 0;
        left: 0;
        top: -1000%;
        transition: all 0.3s;
    }

    .header__content-secret .header__sec.active {
        overflow-x: hidden;
        min-height: 600px;
        height: 100%;
    }

    .header__content-secret .header__sec nav {
        margin-top: 40px;
        margin-left: 211px;
        overflow: hidden;
    }

    .header__content-secret .header__sec nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .header__content-secret .header__sec nav ul li a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
        overflow: hidden;
        opacity: 0.5;
        transition: all 0.3s;
        padding: 20px 0px;
    }

    .header__content-secret .header__sec nav ul li a:hover {
        opacity: 1;
    }

    .header__content-secret .header__sec nav ul li {
        padding: 20px 0px;
    }

    .header__content-secret.active {
        left: 0;
        top: 90px;
        height: 100vh;
        overflow: scroll;
        background-color: black;
        opacity: 1;
        width: 100%;
    }

    .header__content-secret .header__sec .header__content-btn {
        display: none;
    }

    .header__content-secret .header__sec {
        position: relative;
    }

    .header__content-secret .header__sec .header__sec-info {
        position: absolute;
        bottom: 18%;
        left: 56px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
    }

    .header__content-secret .header__sec .header__sec-info .sec-link a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    .header__content-secret .header__sec .header__sec-info .sec-link .sec-ser {
        margin: 0 10px;
    }

    .header__content-secret .header__sec .header__sec-info .sec-section {
        position: relative;
        margin-left: 50px;
    }

    .header__content-secret .header__sec .header__sec-info .sec-section::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 7px;
        background: url("../images/swipers/swipers-icons/strelka.svg") no-repeat;
        right: 20px;
        top: 55%;
        margin-top: -3.5px;
    }

    .header__content-secret .header__sec .header__sec-info .sec-section::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: url("../images/swipers/swipers-icons/Vector.svg") no-repeat;
        left: 10px;
        top: 50%;
        margin-top: -5px;
    }

    .header__content-secret .header__sec .header__sec-info .sec-section select {
        border-radius: 88px;
        padding: 5px 51px 5px 28px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: rgba(255, 255, 255, 0);
        border: 1px solid #ccc;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
    /* identical to box height */
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    .header__content-secret .header__sec .header__sec-info .sec-section select:focus {
        outline: none;
    }

    .header__content-secret .header__sec .header__sec-info .sec-section select option {
        background-color: black;
    }

    .header__content-secret .header__sec .header__sec-info .sec-number {
        margin-left: 20px;
    }

    .header__content-secret .header__sec .header__sec-info .sec-number a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }
}

@media (max-width: 600px) {
    .header__mobile .burger {
        display: none;
    }

    .header__content-btn button {
        display: none;
    }

    .header__mobile .header__content-btn {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }

    .header__mobile {
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .header__mobile .header__content-btn .burger-none {
        display: block;
    }

    .header__content-secret.active {
        top: 70px;
    }

    .header__content-secret .header__sec nav {
        margin: 0;
        text-align: center;
    }
}